.footer{
  background-color: #2b252c;
  padding: 10px 0;
}
.footer-copyright{
  color: rgba(128,128,128,0.75);
}

h3{
  padding-top: 1em;
  font-size: xx-large;
}

p{
  font-size: larger;
}

.fab {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.fab:hover {
  opacity: 0.7;
}

.developer{
  color: rgba(128,128,128,0.75);
  text-decoration: none;
}

.developer:hover{
  opacity: 0.7;
}
