<footer class="footer page-footer font-small cyan darken-3 text-center text-white">
    <!-- Footer Elements -->
    <div class="container">
      <h3>Not a part of The Park Community?</h3>
      <p>Make sure you become a part of the communtiy through the links down below.</p>
      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">
          <div class="flex-center">
              <a href="#"><i class="fab fa-discord"></i></a>
              <a href="#"><i class="fab fa-twitch"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-steam"></i></a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright py-3">2019 © The Park Community. All rights reserved.    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
