<div class="container text-center">
  <h1>About us</h1>
  <p>Our Mission is create a loving and caring community that will change your gaming experience
    into not just playing the game you love but making friends while doing so. We will reach this
    goal by hosting weekly events which will bring the community together and using interactive
    casters while we stream to engage the game with the community. The game we normally play
    as a community is Counter-Strike: Global Offensive.</p>
  <p>We are EU based but that's not to say people from elsewhere can’t play as long as your
    internet is good! Our events consist of CSGO 5v5s and sometimes bigger events with 3+ teams
    of 5, this would normally run on a Saturday. We also do a games night on Sunday, which is
    usually is on Tabletop Simulator or Monopoly, but is not exclusive to those games.</p>
</div>
