h1{
  padding-top: 2em;
  color:#2b252c;
  font-size: 3em;
  text-align: center;
}

p{
  font-size: x-large;
  line-height: 1.5;
  padding: 1em;
  text-align: center;
}

form{
  padding-left: 10%;
  padding-right:10%;
  padding-bottom: 1em;
}
