.header {
  position: relative;
  background-image: url(../../../assets/images/header.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header a {
  color: #fff;
  text-decoration: none;
}
