<div class="container text-center">
  <h1>Hey and welcome to</h1>
  <img src="../../../../assets/images/logo_for_park.png" class="logo_for_park" alt="The Park Community">
  <p>The loving and caring community that will change your gaming experience.</p>
  <h1>The Park Community CSGO team</h1>
  <p>We are working on creating our own semi pro team that will represent us at LAN's and medium sized events.</p>
  <img src="../../../../assets/images/team.jpg" class="team" alt="The Park Community Team">
</div>
