<div class="container">
  <h1>Feed</h1>
  <div class="feed">
    <div class="row">
      <h3>The upcoming 5v5 event</h3>
      <div class="text">
          The Upcoming Event of 5 vs 5 will be held on Saturday (20th April). If you would like to be a part of it, make sure to:<br><br>
          1. Join the Park Discord Community.<br>
          2. Write in chat that you would like to take park in the event.<br><br>
          The Admins will add you onto the List and you will be contacted on the Friday before to make sure you are able to participate.<br>
          <strong>We look forward to seeing you there!</strong>
      </div>
    </div>
  </div>
  <div class="prev_events">
    <div class="row">
      <h3>Want to watch previous events?</h3>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/seEOUYwh_5I" allowfullscreen></iframe>
        </div>
        <h5>Previous event</h5>
        <p>Thanks to everyone that joined last weeks event on the 13th of april, we apologize for it being a bit unorganized due to us never hosting an event with three teams before. The event still turned out great, with loads of fun. For everyone that missed it you can watch it right here.</p>
      </div>
      <div class="col-4 text-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/8tvFerfNcxg" allowfullscreen></iframe>
        </div>
        <h5>Previous event</h5>
        <p>Team Moose vs Team Joel played on the 20th of april. Thanks to everyone that joined, we hope you had just as much fun playing as we had casting (Neomp)</p>
      </div>
    </div>
  </div>
</div>
